.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  z-index: 1000000;
}
.loader-container > .loader {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #19191d;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
